 body {
    background: black; /* Цвет фона */
    color: white; /* Цвет текста */
    text-align: right;
   }
   h1, h2, h3, h4, h5, h6 { 
    font-family:"Arial Cyr",Geneva,Helvetica,sans-serif;
    color: maroon; 
    text-align: right;
  }
  em {
  	color: green;
  }
